body{
    margin: 0;
}

.main{
    background-image: url('../images/apartment.jpg');
    background-repeat: no-repeat;
    height: 88vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    li{
        a{
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
            color: rgb(99, 14, 14);
        }
    }
}

.title{
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.cards{
    display: flex;
    margin: 50px 0 0 400px;
    .card{
        width: 200px;
        color: white;
        margin-left: 30px;
        padding: 0 10px 0 10px;
        background: rgb(119, 70, 70);
        text-align: center;
        border-radius: 10px;
        opacity: 0.9;
    }
}

.squares{
    display: flex;
    margin-top: 0;
    .left_square{
        display: flex;
        width: 50%;
        height: 35vh;
        background: rgb(187, 190, 240);
        h2{
            text-align: center;
            margin: 15px;
        }
        p{
            text-align: justify;
            margin: 15px;
        }
    }
    .right_square{
        width: 50%;
        height: 35vh;
        background: rgb(233, 226, 216);
        h2{
            margin: 15px;
        }
        p{
            text-align: justify;
            margin: 15px;

        }
    }
    .left_square2{
        width: 50%;
        height: 35vh;
        background: rgb(233, 226, 216);
    }
    .right_square2{
        display: flex;
        width: 50%;
        height: 35vh;
        background: rgb(187, 190, 240);
        h2{
            margin: 15px;
        }
        p{
            text-align: justify;
            margin: 15px;
        }
    }
}

.last_offers{
    background: rgb(255, 255, 255);
    .title{
        padding-top: 2vh;
        margin: 0 0 0 -115vh;
        color: black;
    }
    .last_sales{
        margin-left: 56px;
    }
    .sales{
        display: flex;
        flex-wrap: wrap;
        padding: 5vh 0 0 20vh;
        .apartment_image{
            border-radius: 2px;
            width: 70vh;
            height: 40vh;
            margin-right: 2vh;
        }
        .sale{
            display: flex;
            margin-bottom: 9vh;
            .list{
                list-style-image: url("images/diamond.png");
            }
            .price{
                font-weight: bold;
                color: rgba(151, 60, 0, 0.795);
            }
        }
    }
    .purchases{
        background: rgb(235, 225, 225);
        display: flex;
        flex-wrap: wrap;
        padding: 5vh 0 0 20vh;
        .apartment_image{
            border-radius: 2px;
            width: 70vh;
            height: 40vh;
            margin-right: 2vh;
        }
        .purchase{
            display: flex;
            margin-bottom: 9vh;
            .list{
                list-style-image: url("images/diamond2.png");
            }
            .price{
                font-weight: bold;
                color: rgba(151, 60, 0, 0.795);
            }
        }
    }
}
